{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'Customer/style.css' %}">
{% block content %}
    <h2 class="header">Login</h2>

    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}<br>
                {% for error in field.errors%}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
                {% if field.help_text %}
                    <small style="color: blue">{{ field.help_text }}</small>
                {% endif %}
            </p>
        {% endfor %}
        <button type="submit" class="btn">Submit</button>
        <a href="{% url 'signup'  %}" style="color: blue">New? Sign up</a>
    </form>
{% endblock %}