{#<head>#}
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>#}
{#    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css"/>#}
{#    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>#}
{#    {{ form.media }}#}
{##}
{#</head>#}
{% block content %}
    <h1>Reserve</h1>
    <form method="post" action="{% url 'reserve_info' %}">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}<br>
                {% for error in field.errors%}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
        {% endfor %}
        <button type="submit">Reserve</button>
    </form>
{% endblock %}
{#</body>#}