{#{% block content %}#}
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
</style>
<body class="w3-light-grey">
{% load staticfiles %}
<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-large">
  <a href="{% url 'admin' %}" class="w3-bar-item w3-button w3-red w3-mobile"><i class="fa w3-margin-ce"></i>Admin</a>
  <a href="{% url 'owner_login' %}" class="w3-bar-item w3-button w3-mobile">Hotels Staff</a>
  <a href="{% url 'login' %}" class="w3-bar-item w3-button w3-right w3-light-grey w3-mobile">Book Now</a>
</div>
<!-- Header -->
<header class="w3-display-container w3-content" style="max-width:1500px;">
  <img  src="{% static 'img/paris.jpg' %}" alt="The Hotel" style="min-width:1000px" width="1500" height="800">
    <div class="w3-container w3-margin-righ w3-red">
      <h2><i class="fa w3-margin-right" style="width: 210px;"></i>Better to see something once than hear about it a thousand times</h2>
    </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1534px;">

  <div class="w3-container w3-margin-top" id="rooms">
    <h3>Rooms</h3>
    <p>Make yourself at home is our slogan. We offer the best beds in the industry. Sleep well and rest well.</p>
  </div>
</div>

  <div class="w3-row-padding w3-padding-16">
    <div class="w3-third w3-margin-bottom">
      <img src="{% static 'img/single.jpg' %}" alt="Norway" style="width: 100%" width="445" height="445">
      <div class="w3-container w3-white">
        <h3>Single Room</h3>
        <h6 class="w3-opacity">From $99</h6>
        <p>Single bed</p>
        <p>15m<sup>2</sup></p>
        <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i></p>
      </div>
    </div>
    <div class="w3-third w3-margin-bottom">
      <img src="{% static 'img/double.jpg' %}" alt="Norway" style="width: 100%"  width="445" height="445">
      <div class="w3-container w3-white">
        <h3>Double Room</h3>
        <h6 class="w3-opacity">From $149</h6>
        <p>Queen-size bed</p>
        <p>25m<sup>2</sup></p>
        <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> <i class="fa fa-tv"></i></p>
      </div>
    </div>
    <div class="w3-third w3-margin-bottom">
      <img src="{% static 'img/triple.jpg' %}" alt="Norway" style="width: 100%" width="445" height="445">
      <div class="w3-container w3-white">
        <h3>Deluxe Room</h3>
        <h6 class="w3-opacity">From $199</h6>
        <p>King-size bed</p>
        <p>40m<sup>2</sup></p>
        <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> <i class="fa fa-tv"></i> <i class="fa fa-glass"></i> <i class="fa fa-cutlery"></i></p>
      </div>
    </div>
  </div>

  <div class="w3-row-padding" id="about">
    <div class="w3-col l7 14">
      <h3>About</h3>
      <h6>Our hotels is one of a kind. It is truely amazing. Need Your try.</h6>
    <p>We accept: <i class="fa fa-credit-card w3-large"></i> <i class="fa fa-cc-mastercard w3-large"></i> <i class="fa fa-cc-amex w3-large"></i> <i class="fa fa-cc-cc-visa w3-large"></i><i class="fa fa-cc-paypal w3-large"></i></p>
    <!-- </div> -->
    <!-- <div class="w3-col l 12">
      <!-- Image of location/map -->
      <!-- <img src="about.jpg" class="w3-image w3-greyscale" style="width: 100%" width="445" height="100"> -->
    </div>
  </div>
  
  <div class="w3-row-padding w3-large w3-center" style="margin:32px 0">
    <div class="w3-third"><i class="fa fa-map-marker w3-text-red"></i>Alexandria, Egypt</div>
    <div class="w3-third"><i class="fa fa-phone w3-text-red"></i> Phone: +20 1111111111</div>
    <div class="w3-third"><i class="fa fa-envelope w3-text-red"></i> Email: mail@mail.com</div>
  </div>

  <div class="w3-panel w3-red w3-leftbar w3-padding-32">
    <h6><i class="fa fa-info w3-deep-orange w3-padding w3-margin-right"></i> On demand, we can offer playstation, babycall, children care, dog equipment, etc.</h6>
  </div>

  <div class="w3-container">
    <h3>Our Hotels</h3>
    <h6>You can find our hotels anywhere in the world:</h6>
  </div>
  
  <div class="w3-row-padding w3-padding-16 w3-text-white w3-large">
    <div class="w3-half w3-margin-bottom">
      <div class="w3-display-container">
        <img src="{% static 'img/pariss.jpg' %}" alt="Paris" style="width:100%" height="490">
        <span class="w3-display-bottomleft w3-padding">Paris</span>
      </div>
    </div>
    <div class="w3-half">
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="{% static 'img/russia.jpg' %}" alt="New York" style="width:100%" height="230">
            <span class="w3-display-bottomleft w3-padding">St Petersburg</span>
          </div>
        </div>
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="{% static 'img/miami.jpg' %}" alt="San Francisco" style="width:100%" height="230.5">
            <span class="w3-display-bottomleft w3-padding">Miami</span>
          </div>
        </div>
      </div>
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="{% static 'img/switzerland.jpg' %}" alt="Pisa" style="width:100%" height="244">
            <span class="w3-display-bottomleft w3-padding">Basel</span>
          </div>
        </div>
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="{% static 'img/tokyo.jpg' %}" alt="Paris" style="width:100%" height="244">
            <span class="w3-display-bottomleft w3-padding">Tokyo</span>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Footer -->
<footer class="w3-padding-32 w3-black w3-center w3-margin-top">
  <h5>Find Us On</h5>
  <div class="w3-xlarge w3-padding-16">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</footer>

<!-- Add Google Maps -->
<script>
function myMap() {
  myCenter=new google.maps.LatLng(41.878114, -87.629798);
  var mapOptions= {
    center:myCenter,
    zoom:12, scrollwheel: false, draggable: false,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

  var marker = new google.maps.Marker({
    position: myCenter,
  });
  marker.setMap(map);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->

</body>
</html>
{#{% endblock %}#}

